<%- include("header")%>
<%- include("nav")%>
<div id="form">
<form action="/update/<%= index%>" method="post">
    <h1>Update</h1>
    <br><br>
    <input value="<%= post.image%>" type="url" name="image" placeholder="ProfileImage">
    <br><br>
    <input value="<%= post.name%>" type="text" name="name" placeholder="UserName">
    <br><br>
    <input value="<%= post.title%>" type="text" name="title" placeholder="Title">
    <br><br>
    <input value="<%= post.subtitle%>" type="text" name="subtitle" placeholder="Subtitle">
    <br><br>
    <input value="<%= post.posttitle%>" type="text" name="posttitle" placeholder="PostTitle">
    <br><br>
    <input value="<%= post.url%>" type="url" name="url" placeholder="url">
    <br><br>
    <button>Update</button>
</form>
</div>

<%- include("footer")%>